In [1]:
import keras
import tensorflow as tf
print(keras.__version__)
print(tf.__version__)

2.5.0
2.5.1

In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

NGRAMS = 2
SAMPLE = 1000000
EPOCHS = 20

# Florida voter
df = pd.read_csv('../dataverse_files/fl_voter_reg/fl_reg_name_race.csv.gz')
df.dropna(subset=['name_first', 'name_last'], inplace=True)
df['race'] = df.race.map({'native_indian': 'other', 'asian': 'asian', 'nh_black': 'nh_black', 'hispanic': 'hispanic', 'nh_white': 'nh_white', 'other': 'other', 'multi_racial': 'other', 'unknown': 'unknown'})
df

            name_last name_first      race
0              Walker  Elizabeth  nh_white
1              Palmer      Alton  nh_white
2            Mc Cleod     Alicia  nh_black
3         Scarborough       Dale  nh_white
4              Walker     Daniel  nh_white
...               ...        ...       ...
13653889      Walters    William  nh_white
13653890       Sawyer    Matthew  nh_white
13653891       Thomas     Janine  nh_white
13653892     Campbell      Angel     other
13653893       Bruner        Jeb  nh_white

[13653894 rows x 3 columns]

In [3]:
sdf = df[df.race.isin(['unknown']) == False].groupby(['race']).sample(int(SAMPLE/5), random_state=21)
del df

# Additional features
sdf['name_first'] = sdf.name_first.str.title()
sdf['name_last'] = sdf.name_last.str.title()
sdf

         name_last  name_first   race
779856      Kelley          Mi  asian
10722411    Pitman       Ariel  asian
9871739      Patel  Ranjanbala  asian
6278811       Inch     Corazon  asian
6085057     Mathew       Lilly  asian
...            ...         ...    ...
5566342     Rogers      Joanne  other
52018       Akther      Nasrin  other
2691413   Menendez     Rafaela  other
8309012     Hegdal      Gertie  other
6026271   Al Kurdi       Osama  other

[1000000 rows x 3 columns]

In [4]:
rdf = sdf.groupby('race').agg({'name_last': 'count'})
rdf.to_csv('../dataverse_files/fl_voter_reg/lstm/fl_name_five_cat_race.csv', columns=[])
rdf

          name_last
race
asian        200000
hispanic     200000
nh_black     200000
nh_white     200000
other        200000

In [5]:
sdf.groupby('race').agg({'name_last': 'nunique'})

          name_last
race
asian         49319
hispanic      47360
nh_black      28405
nh_white      65081
other         65474

## Preprocessing the input data

In [6]:
# concat last name and first name
sdf['name_last_name_first'] = sdf['name_last'] + ' ' + sdf['name_first']

# build n-gram list
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
a = vect.fit_transform(sdf.name_last_name_first)
vocab = vect.vocabulary_

# sort n-gram by freq (highest -> lowest)
words = []
for b in vocab:
    c = vocab[b]
    #print(b, c, a[:, c].sum())
    words.append((a[:, c].sum(), b))
    #break
words = sorted(words, reverse=True)
words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)


def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

# build X from index of n-gram sequence
X = np.array(sdf.name_last_name_first.apply(lambda c: find_ngrams(c, NGRAMS)))

# check max/avg feature
X_len = []
for x in X:
    X_len.append(len(x))

max_feature_len = max(X_len)
avg_feature_len = int(np.mean(X_len))

print("Max feature len = %d, Avg. feature len = %d" % (max_feature_len, avg_feature_len))
y = np.array(sdf.race.astype('category').cat.codes)

# Split train and test dataset
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

num_words = 1316
Max feature len = 44, Avg. feature len = 12

## Train a LSTM model

ref: http://machinelearningmastery.com/sequence-classification-lstm-recurrent-neural-networks-python-keras/

In [7]:
'''The dataset is actually too small for LSTM to be of any advantage
compared to simpler, much faster methods such as TF-IDF + LogReg.
Notes:

- RNNs are tricky. Choice of batch size is important,
choice of loss and optimizer is critical, etc.
Some configurations won't converge.

- LSTM loss decrease patterns during training can be quite different
from what you see with CNNs/MLPs/etc.
'''
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding, Dropout, Activation
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import load_model

max_features = num_words # 20000
feature_len = 20 # avg_feature_len # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print(len(X_train), 'train sequences')
print(len(X_test), 'test sequences')

print('Pad sequences (samples x time)')
X_train = sequence.pad_sequences(X_train, maxlen=feature_len)
X_test = sequence.pad_sequences(X_test, maxlen=feature_len)
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)

num_classes = np.max(y_train) + 1
print(num_classes, 'classes')

print('Convert class vector to binary class matrix '
      '(for use with categorical_crossentropy)')
y_train = tf.keras.utils.to_categorical(y_train, num_classes)
y_test = tf.keras.utils.to_categorical(y_test, num_classes)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

800000 train sequences
200000 test sequences
Pad sequences (samples x time)
X_train shape: (800000, 20)
X_test shape: (200000, 20)
5 classes
Convert class vector to binary class matrix (for use with categorical_crossentropy)
y_train shape: (800000, 5)
y_test shape: (200000, 5)

In [8]:
print('Build model...')

input_ = keras.layers.Input(shape=(feature_len))
layer_ = Embedding(num_words, 32) (input_)
layer_ = LSTM(128, dropout=0.2, recurrent_dropout=0.2)(layer_, training=True)
output = Dense(num_classes, activation='softmax') (layer_)

model = keras.models.Model(inputs=input_, outputs=output)

# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print(model.summary())

Build model...
Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 20)]              0
_________________________________________________________________
embedding (Embedding)        (None, 20, 32)            42112
_________________________________________________________________
lstm (LSTM)                  (None, 128)               82432
_________________________________________________________________
dense (Dense)                (None, 5)                 645
=================================================================
Total params: 125,189
Trainable params: 125,189
Non-trainable params: 0
_________________________________________________________________
None

In [9]:
print('Train...')
model.fit(X_train, y_train, batch_size=batch_size, epochs=EPOCHS,
          validation_split=0.1, verbose=1)
score, acc = model.evaluate(X_test, y_test,
                            batch_size=batch_size, verbose=1)
print('Test score:', score)
print('Test accuracy:', acc)

Train...
Epoch 1/20
22500/22500 [==============================] - 857s 36ms/step - loss: 1.1869 - accuracy: 0.5134 - val_loss: 1.0876 - val_accuracy: 0.5606
Epoch 2/20
22500/22500 [==============================] - 814s 36ms/step - loss: 1.0740 - accuracy: 0.5695 - val_loss: 1.0569 - val_accuracy: 0.5782
Epoch 3/20
22500/22500 [==============================] - 596s 26ms/step - loss: 1.0429 - accuracy: 0.5844 - val_loss: 1.0403 - val_accuracy: 0.5865
Epoch 4/20
22500/22500 [==============================] - 422s 19ms/step - loss: 1.0241 - accuracy: 0.5929 - val_loss: 1.0341 - val_accuracy: 0.5914
Epoch 5/20
22500/22500 [==============================] - 410s 18ms/step - loss: 1.0163 - accuracy: 0.5976 - val_loss: 1.0303 - val_accuracy: 0.5920
Epoch 6/20
22500/22500 [==============================] - 411s 18ms/step - loss: 1.0092 - accuracy: 0.6007 - val_loss: 1.0249 - val_accuracy: 0.5962
Epoch 7/20
22500/22500 [==============================] - 414s 18ms/step - loss: 1.0033 - accuracy: 0.6037 - val_loss: 1.0198 - val_accuracy: 0.5962
Epoch 8/20
22500/22500 [==============================] - 411s 18ms/step - loss: 1.0006 - accuracy: 0.6050 - val_loss: 1.0204 - val_accuracy: 0.5949
Epoch 9/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9962 - accuracy: 0.6067 - val_loss: 1.0170 - val_accuracy: 0.5990
Epoch 10/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9968 - accuracy: 0.6063 - val_loss: 1.0197 - val_accuracy: 0.5969
Epoch 11/20
22500/22500 [==============================] - 411s 18ms/step - loss: 0.9929 - accuracy: 0.6080 - val_loss: 1.0158 - val_accuracy: 0.5994
Epoch 12/20
22500/22500 [==============================] - 417s 19ms/step - loss: 0.9916 - accuracy: 0.6092 - val_loss: 1.0147 - val_accuracy: 0.5996
Epoch 13/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9918 - accuracy: 0.6092 - val_loss: 1.0134 - val_accuracy: 0.6014
Epoch 14/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9887 - accuracy: 0.6100 - val_loss: 1.0143 - val_accuracy: 0.6008
Epoch 15/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9882 - accuracy: 0.6101 - val_loss: 1.0111 - val_accuracy: 0.6010
Epoch 16/20
22500/22500 [==============================] - 411s 18ms/step - loss: 0.9878 - accuracy: 0.6099 - val_loss: 1.0121 - val_accuracy: 0.6022
Epoch 17/20
22500/22500 [==============================] - 411s 18ms/step - loss: 0.9860 - accuracy: 0.6108 - val_loss: 1.0098 - val_accuracy: 0.6017
Epoch 18/20
22500/22500 [==============================] - 415s 18ms/step - loss: 0.9882 - accuracy: 0.6096 - val_loss: 1.0097 - val_accuracy: 0.6021
Epoch 19/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9854 - accuracy: 0.6110 - val_loss: 1.0077 - val_accuracy: 0.6029
Epoch 20/20
22500/22500 [==============================] - 410s 18ms/step - loss: 0.9830 - accuracy: 0.6136 - val_loss: 1.0104 - val_accuracy: 0.6021
6250/6250 [==============================] - 30s 5ms/step - loss: 1.0096 - accuracy: 0.6028
Test score: 1.0096408128738403
Test accuracy: 0.6028199791908264

In [10]:
print('Test score:', score)
print('Test accuracy:', acc)

Test score: 1.0096408128738403
Test accuracy: 0.6028199791908264

## Confusion Matrix

In [11]:
p = model.predict(X_test, verbose=2) # to predict probability
y_pred = np.argmax(p, axis=-1)
target_names = list(sdf.race.astype('category').cat.categories)
print(classification_report(np.argmax(y_test, axis=1), y_pred, target_names=target_names))
print(confusion_matrix(np.argmax(y_test, axis=1), y_pred))

6250/6250 - 28s
              precision    recall  f1-score   support

       asian       0.72      0.67      0.69     40000
    hispanic       0.73      0.85      0.79     40000
    nh_black       0.57      0.71      0.63     40000
    nh_white       0.49      0.68      0.57     40000
       other       0.37      0.10      0.16     40000

    accuracy                           0.60    200000
   macro avg       0.58      0.60      0.57    200000
weighted avg       0.58      0.60      0.57    200000

[[26808  3556  2726  4401  2509]
 [ 1498 34111  1256  2195   940]
 [ 1123   953 28343  8027  1554]
 [ 1422  2176  7376 27176  1850]
 [ 6580  5997 10064 13334  4025]]

## Save model

In [12]:
model.save('../models/fl_voter_reg/lstm/fl_all_fullname_lstm_5_cat.h5')

In [13]:
words_df = pd.DataFrame(words_list, columns=['vocab'])
words_df.to_csv('../dataverse_files/fl_voter_reg/lstm/fl_all_fullname_vocab_5_cat.csv', index=False, encoding='utf-8')